body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    min-height: 100vh;
    margin-left: 25%;
    margin-right: 25%;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.first-row,
.second-row,
.third-row,
.fourth-row {
    min-height: 300px;
    padding-left: 120px;
    padding-right: 120px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;

}


.first-row {
    display: flex;
    flex-direction: column;
    background-color:#1F2937;
}


.first-row-bottom {
    display: flex;
    margin-top: 50px;
    margin-bottom: 70px;
    
}

.first-row-bottom-inside-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.first-row-bottom-inside-right {
    display: flex;
    background-color: rgb(153, 156, 165);
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    align-items: center;
    justify-content: center;

}

.first-row-bottom-inside-left-top {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
    
     
}
.first-row-bottom-inside-left-bottom {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 25px;
}



.first-row-bottom-button {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.second-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items:center;
    background-color: white;
}

.second-row-title {
    display: flex;
    font-size: 36px;
    font-weight: bold;
    color:#1F2937;
    padding: 20px
}

.second-row-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 50%;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 20px;
}

.boxes {
    display: flex;
    flex: 1;    
    min-width: 50%;
}

.box{
    flex: 1 0 calc(25% - 16px);
    margin: 5px;
    background: white;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
  }
  
  .box:after{
    content: '';
    display: block;
    padding-bottom: 100%;
  }

.second-row-bottom {
    display: flex;
    flex: 1;
    min-width: 50%;
    justify-content: center;
    text-align: center;
    text-justify: auto;
    
}

 
.third-row {
    background-color: gray;
}

.fourth-row {
    background-color: white;
}

li {
    display: inline-flex;
    
}

a {
    text-decoration: none;
    padding-left: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.first-row-bottom-button button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}

